import React from 'react';
import ErrorableCurrentOrPastDate from './ErrorableCurrentOrPastDate';
import { makeField } from '../../../../helpers/fields.js';

export default class ErrorableCurrentOrPastDateExample extends React.Component {

  constructor(props) {
    super();

    this.state = props;
  }

  handleChange = (value) => {
    this.setState({
      day: value.day.value,
      month: value.month.value,
      year: value.year.value
    })
  }

  render() {
    const date = {
      day: makeField(this.state.day.toString()),
      month: makeField(this.state.month.toString()),
      year: makeField(this.state.year.toString())
    };
    return (
      <ErrorableCurrentOrPastDate
        date={date}
        name={this.props.name}
        onValueChange={this.handleChange} />);
  }
};
